EWB_HOST=
EWB_RPC_PORT=
EWB_ACCESS_TOKEN=
EWB_CA_FILENAME=
EWB_TIMEOUT_SECONDS=30
EWB_DEBUG=false
EWB_SKIP_CONNECTION_TEST=false

RESULT_DB_HOST=
RESULT_DB_PORT=5432
RESULT_DB_USER=
RESULT_DB_PASSWORD=
RESULT_DB_NAME=
